/* Global CSS */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Main color scheme */
	--background-color: #f1f1e7;
	--header-color: #a084cf;
	--primary-btn-color: #f6bd60;
	--btn-text-color: #f7ede2;
	--primary-text-color: #3f3f3f;
	--secondary-text-color: #92b4a7;
	--transparent-red: rgba(255, 0, 0, 0.5);
  --btn-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  --btn-active-shadow: box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --restore-btn: #91b687;

	--gradient-1: linear-gradient(90deg, #6fa3bf, #f7ede2);
	--gradient-2: linear-gradient(45deg, --primary-btn-color, #ff8c69);

	/* Imported Fonts */
	--main-font: "Bitter", serif;
	--item-font: monospace;
	--accent-font: "Permanent Marker", serif;

  /* Buttons */
  --btn-border-radius: 5px;
}

/* Custom CSS */
body {
	background: var(--background-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
	position: relative;
	text-align: center;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

h2 {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

h2, h3, h4 {
  text-align: center;
  font-family: var(--main-font);
}

.header-container {
  width: 100vw;
	min-height: 12.5vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #6fa3bf;
	margin-bottom: 2rem;
	padding: 0.25rem 0;
	border-bottom: 4px solid var(--primary-btn-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.shoku-text {
  font-family: var(--main-font);
	font-weight: 800;
	font-style: italic;
	color: var(--btn-text-color);
}

.go-text {
  font-family: var(--accent-font);
	text-decoration: underline;
	text-decoration-thickness: 0.45rem;
	color: var(--primary-btn-color);
}

.shoku-text,
.go-text {
  position: relative;
	font-size: 3rem;
	font-weight: bold;
	z-index: 1;
	text-shadow: 2px 2px 15px #3f3f3f;
}

.logo {
  width: 6rem;
	height: 6rem;
	font-size: 3rem;
	color: var(--transparent-red);
	border: 8px solid var(--transparent-red);
	border-radius: 50%;
	position: absolute;
	left: 40%;
	z-index: 0;
	text-shadow: 2px 2px 25px var(--btn-text-color);
}

.btn {
  font-family: var(--main-font);
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border-radius: var(--btn-border-radius);
}

.header-buttons {
  display: flex;
  min-width: 300px;
}

.nav-btn {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  padding: 1rem 2rem;
  border-radius: 0px;
  color: var(--btn-text-color);
  text-shadow: .5px .5px 2px #3f3f3f;
}

.nav-btn:hover {
  background-color:#87b9d4;
}

.nav-selected {
  border-bottom: 4px solid var(--primary-btn-color);
}

.category-container, .meal-planner-container {
	margin: 0 auto;
	width: 75vw;
}

.meal-planner-container {
  min-height: 70vh;
}

.category-container {
  margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-content: center;
	gap: 1.5rem;
}

.single-category, .day-container {
	background: #fffae3;
	background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
	border: 2px solid #6fa3bf;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.single-category {
	min-height: 16rem;
	max-height: 25rem;
  min-width: 20rem;
  max-width: 29rem;
	padding: 20px;
	position: relative;
}

.single-category:hover, .day-container:hover {
	box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.4);
}

.single-category::-webkit-scrollbar {
	width: 8px;
}

.single-category::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

.single-category h2 {
	text-align: center;
	font-weight: 800;
	font-family: var(--main-font);
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 6px;
	margin-bottom: 0.25rem;
}

.single-item {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0px 10px;
	border-bottom: 2px dotted var(--secondary-text-color);
}

.single-item input {
	flex-shrink: 0;
}

input[type="checkbox"] {
	height: 1.2rem;
	width: 1.2rem;
	accent-color: var(--primary-btn-color);
}

.single-item p,
.empty {
	font-family: var(--item-font);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.1px;
	flex-grow: 1;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.empty {
	text-align: center;
}

.single-item button {
	flex-shrink: 0;
	min-width: 60px;
}

.form-inputs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0.75rem auto;
}

.quantity-container {
	margin-right: -1.5rem;
	display: flex;
	align-items: center;
}

#quantity-label1 {
  display: inline;
}

#quantity-label2 {
  display: none;
}

input[type="number"] {
	width: 3rem;
	height: 1.5rem;
	text-align: center;
}

.name-add-container {
	display: flex;
	align-items: center;
}

.grocery-inputs, .meal-inputs {
  display: flex;
  flex-direction: column;
  gap: .15rem;
}

.items-container {
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex-grow: 1;
	overflow-y: auto;
	max-height: 12rem;
	padding-right: 8px;
}

.items-container::-webkit-scrollbar {
	width: 8px;
}

.items-container::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

input[type="text"], select {
	height: 1.5rem;
	width: 10rem;
	padding: 0 0.5rem;
}

.delete-btn, .clear-btn {
	background-color: #d46a6a;
	color: var(--btn-text-color);
	border: transparent;
  box-shadow: var(--btn-shadow);
	transition: 0.25s;
}

/* Use for smaller tablets / phones */
#small-delete-btn {
  display: none;
}

.delete-btn:hover, .clear-btn:hover, #small-delete-btn:hover {
	background-color: #b65454;
}

.delete-btn:active, .clear-btn:active, #small-delete-btn:active {
  box-shadow: var(--btn-active-shadow);
}

label {
	margin-right: 0.5rem;
}

label,
input, select {
	font-family: var(--main-font);
}

.add-btn {
	height: 1.5rem;
	padding: 0.2rem 1rem;
	border: transparent;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: var(--primary-btn-color);
	transition: background-color 0.3s ease;
}

.add-btn:hover {
	background-color: #daa146;
}

.clear-one-container {
	display: flex;
	justify-content: center;
}

.clear-one-btn {
	color: #f7ede2;
	background-color: #6fa3bf;
	border: 4px solid #6fa3bf;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.25s;
}

.clear-one-btn:hover {
	background-color: #578aa5;
	border: 4px solid #578aa5;
}

.clear-one-btn:active {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}


/* Footer */
.footer-container {
  width: 100vw;
	height: 10vh;
	background-color: #6fa3bf;
	border-top: 4px solid var(--primary-btn-color);
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: space-around;
}

.footer-container h3 {
	font-family: monospace;
  font-weight: lighter;
	letter-spacing: 1.25px;
	text-align: center;
	font-size: 1.25rem;
	padding-top: 0.5rem;
}

.footer-links {
	display: flex;
	gap: 2rem;
	justify-content: space-evenly;
  padding-bottom: .5rem;
}

.footer-links a:link {
	font-family: var(--item-font);
	font-size: 1rem;
	color: var(--btn-text-color);
}

.footer-links a:visited {
	color: var(--btn-text-color);
}

.global-btn-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.global-btn {
  width: 12rem;
  height: 2.75rem;
  font-size: 1rem;
}

.restore-btn {
  background-color: var(--restore-btn);
  color: var(--btn-text-color);
  border: transparent;
  border-radius: 5px;
  box-shadow: var(--btn-shadow);
	transition: 0.25s;
}

.restore-btn:hover {
  background-color: #7ca771;
}

.restore-btn:active {
  box-shadow: var(--btn-active-shadow);
}

/* Weekly Meal Planner Styles */

.meal-planner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  min-height: 50vh;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.day-container {
  display: flex;
  justify-content: space-between;
	min-height: 16rem;
	max-height: 25rem;
	padding: 10px;
	position: relative;
}

.day-container h3 {
  text-align: center;
	font-weight: 800;
	font-family: var(--main-font);
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 5px;
	margin-bottom: 0.25rem;
}

.single-meal {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-family: var(--item-font);
  font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.1px;
  text-transform: capitalize;
  border-bottom: 2px dotted var(--secondary-text-color);
}

.meal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-meals {
  margin-top: .5rem;
}

/* Responsive Styles */
/* Smaller Screens / Monitors ~1725px */
@media only screen and (min-width: 1025px) and (max-width: 1725px) {
  /** Grocery */
  .category-container h2 {
    font-size: 1rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-inputs {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .quantity-container {
    margin-bottom: .15rem;
  }

  input[type="number"] {
    width: 2.5rem;
    height: 1.25rem;
  }

  /** Meal Planner */
}

/* 1425px, quantity / qty collapses too much */

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /*! For Testing Only */
  /* body {
      background-color: orange;
  }
  body::before {
      content: "Tablet Size"
  } */
    /** Grocery */
  .delete-btn, .clear-one-btn {
    padding: 0.15rem 0.25rem; 
  }

  .category-container {
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
  }

  .category-container h2 {
    font-size: 1rem;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
    margin-bottom: 0.25rem;
  }
  
  .single-item p, .empty {
	font-weight: 400;
	font-size: .8rem;
	letter-spacing: 0.1px;
  }

  .form-inputs {
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem auto;
  }

  .quantity-container {
    margin-right: -1.5rem;
    display: flex;
    align-items: center;
  }

  #quantity-label1 {
    display: none;
  }
  
  input[type="number"] {
    width: 3rem;
    height: 1.5rem;
    text-align: center;
  }

  .global-btn-container {
    margin-bottom: 1.5rem;
  }

  .global-btn {
    width: 11rem;
    height: 2.5rem;
    font-size: .9rem;
  }

  /** Meal Planner */
  .meal-planner-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
    
  .day-container h3 {
    text-decoration-thickness: 2px;
    margin-bottom: 0.2rem;
  }

  /** Footer  */
  .footer-container {
    height: 10vh;
  }
  
  .footer-container h3 {
    letter-spacing: 1px;
    font-size: 1rem;
  }
  
  .footer-links {
    gap: 1.5rem;
  }
  
  .footer-links a:link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 970px) {
  h1 {
    margin: .5rem;
  }

  .header-container {
    min-height: 10vh;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: .5rem 0;
  }

  .shoku-text,
  .go-text {
    font-size: 2rem;
  }
  
  .logo {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    left: 30%;
  }

  .delete-btn {
    display: none;
  }

  #small-delete-btn {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 1.75rem;
    min-height: 1.75rem;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #d46a6a;
    color: var(--btn-text-color);
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    cursor: pointer;
  }

  /** Grocery */
  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-inputs {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  #quantity-label2 {
    display: inline-block;
  }

  .global-btn-container {
    width: 100vw;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
  }

  /** Meal Planner */
  .meal-planner-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Phones */
@media only screen and (max-width: 660px) {
  /*! For Testing Only */
  /* body {
      background-color: red;
  }
  body::before {
      content: "Mobile Size"
  } */
  /** Header  */
  h1 {
    margin: .5rem;
  }
    
  .header-container {
    min-height: 10vh;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: .5rem 0;
  }
  
  .shoku-text,
  .go-text {
    font-size: 2rem;
  }
  
  .logo {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    left: 30%;
  }

  .header-buttons {
    flex-direction: column;
    min-width: 170px;
    max-width: 200px;
  }
  
  .nav-btn {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: .5rem 1rem;
    border-radius: 0px;
    color: var(--btn-text-color);
    text-shadow: .5px .5px 2px #3f3f3f;
  }
  
  .nav-selected {
    border-left: 3px solid var(--primary-btn-color);
    border-bottom: none;
    background-color: #87b9d4;
  }

  /** Grocery  */
  .category-container {
    width: 95vw;
    padding: .5rem;
    grid-template-columns: 1fr;
    gap: .25rem;
  }

  .category-container h2 {
    font-size: .8rem;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    margin-bottom: 0.15rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-inputs {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
  }

  .quantity-container {
    margin-bottom: .15rem;
  }

  #quantity-label2 {
    display: inline-block;
  }

  .global-btn-container {
    width: 100vw;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
  }

  /** Meal Planner */
  .meal-planner-container {
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
  }

  .day-container {
    min-height: 18rem;
  }
  
  .day-container h3 {
    font-weight: 800;
    text-decoration-thickness: 2px;
  }
  
  .single-meal {
    width: 95%;
    font-size: .9rem;
  }

  /** Footer */
  .footer-container {
    height: 7.5vh;
  }
  
  .footer-container h3 {
    letter-spacing: 1px;
    font-size: .75rem;
  }
  
  .footer-links {
    gap: 1rem;
  }
  
  .footer-links a:link {
    font-size: .5rem;
  }
}
